@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

@font-face {
  font-family: MailBoxFont;
  src: url(../fonts/Passport-Regular.ttf);
}

@font-face {
  font-family: Signature;
  src: url(../fonts/Thesignature.ttf);
}

body {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;

  display: none;
  
    text-align: center;
	justify-content: center;
	align-items: center;

  margin-left: 30.5%;
  margin-top: -50%;

}

#tpz_passports{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  margin-top: 105vh;

  background-image: url(../img/default.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;

  background-size: 100% 100%;

  opacity: 0.9;

  overflow: hidden;
  width: 40%;
  height: 42vh;
  
  justify-content: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

/* LEFT SIDE */
#center-side{
  border-radius: 5%;
  width: 78%;
  height: 100%;
  margin: 0% 0% 15% 0%;
}

#centerinfo{

	margin-top: 70%;
	margin-left: 1%;
    
}

/* General */

.title {
  position: absolute;
  display: inline-block;
  
  font-family: 'MailBoxFont', sans-serif;

  margin-left: 21vw;

  color: rgb(22, 22, 22);

  font-size: 0.75vw;
  font-weight: bold;

  text-align: left;
  
  width: 28%;
  height: fit-content;

  letter-spacing: 1px;
}

#main-full-name-title { margin-top: -30.1vh; }
#main-dob-title { margin-top: -24.5vh; }
#main-sex-title { margin-top: -18.7vh; }

#main-signature-title { margin-top: -15.7vh; margin-left: 21vw; text-align: right; width: 15%; opacity: 0.8;}
#main-expiration-title { margin-top: -34vh; text-align: right; width: 15%; opacity: 0.95; font-size: 0.5vw; }

.text {
  position: absolute;
  display: inline-block;
  
  font-family: 'MailBoxFont', sans-serif;

  margin-left: 21vw;

  color: rgb(37, 36, 36);

  font-size: 0.7vw;
  font-weight: bold;

  text-align: right;
  
  width: 15%;
  height: fit-content;

  letter-spacing: 1px;

}

#main-full-name-text { margin-top: -30.1vh; }
#main-dob-text { margin-top: -24.5vh; }
#main-sex-text { margin-top: -18.7vh; }
#main-id-text { margin-top: -13.3vh; margin-left: 5vw; text-align: center; width: 11.9%; }

#main-signature-text {
  position: absolute;
  display: inline-block;

  font-family: "Signature", Signature, serif;
  color: #0e253b;
	font-size: 1.5vw;
  
  font-weight: bold;
	width: 18vw;
  margin-top: -13vh;
  margin-left: 22vw;
	text-align: left;

}

#main-stamp-image-display{
	position: absolute;
  display: inline-block;
  
  height: 16.2vw;
	width: 16.0vw;

  margin-top: -15vh;
  margin-left: 19vw;

  text-align: center;
  
  background-image: url(../img/stamp.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;

  background-size: 60% 45%;

}

#main-avatar-image-display{
	position: absolute;
  display: inline-block;
  
  width: 11.1vw;
  height: 10vw;

  margin-top: -32.2vh;
  margin-left: 5.35vw;

  text-align: center;
  
  overflow: hidden;

  background-size: cover;
	background-repeat: no-repeat;
	background-image: none;
	background-position: center;

  background-color: lightgray; /* For debugging */
}

.vintage {
  filter: sepia(0.5) contrast(1.1) brightness(0.95) saturate(0.8);
}